<header class="bg-gray-700 text-white py-3">
  <nav class="flex w-[90%] mx-auto justify-between items-center">
    <div>
      <h2 class="text-3xl font-mono cursor-pointer"><a href="">SHOP</a></h2>
    </div>
    <div>
      <ul class="flex gap-4">
        <li><a href="">Products</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Products</a></li>
      </ul>
    </div>
    <div>
      <button
        class="w-24 rounded-full border-2 border-white py-2 transition-all hover:bg-white hover:text-gray-700"
      >
        Login
      </button>
    </div>
  </nav>
</header>
