<section
  class="h-[85vh] bg-gray-900 text-white flex justify-center items-center"
>
  <div class="w-[70%] text-center space-y-4">
    <h2 class="text-3xl font-mono">Your Shopping Whatever</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio
      rerum iste libero perferendis molestias ducimus nostrum nemo dolores
      natus? Magnam nihil sed et fugiat.
    </p>
    <button
      class="w-36 rounded-full border-2 border-white py-2 transition-all hover:bg-white hover:text-gray-700"
    >
      Explore Now
    </button>
  </div>
</section>
