<section class="w-[90%] mx-auto">
  <div class="mt-4 grid grid-cols-1 md:grid-cols-3 gap-4">
    @for (product of products; track product.id) {
    <div class="border rounded-md">
      <div>
        <img
          class="h-72 object-cover w-full"
          src="{{ product.image }}"
          alt=""
        />
      </div>
      <div class="text-start ms-4 mt-8 me-4">
        <p class="capitalize italic">{{ product.category }}</p>
        <h2 class="flex justify-between">
          <span>
            @if(product.title.length > 15){
            {{ product.title.substring(0, 15) }}... } @else {
            {{ product.title }}
            }
          </span>
          <span class="font-bold"> ${{ product.price }} </span>
        </h2>
        <button class="w-32 bg-gray-700 py-2 rounded-full mb-4 mt-4 text-white">
          Details
        </button>
      </div>
    </div>
    }
  </div>
</section>
