<div class="container">
  <div class="row mt-4">
    <app-data-list
      [title]="title1"
      [users]="user"
      class="col-4 offset-2"
    ></app-data-list>
    <app-data-list
      [title]="title2"
      class="col-4"
      [users]="admin"
    ></app-data-list>
  </div>
  <div class="row mt-4">
    <app-data-forms
      title="Create User"
      class="col-4 offset-2"
      [data]="user"
      (btnClick)="addUser($event)"
    ></app-data-forms>
    <app-data-forms
      title="Create Admin"
      [data]="admin"
      class="col-4"
      (btnClick)="addAdmin($event)"
    ></app-data-forms>
  </div>
</div>
